/* PHONE SIZE */
@media screen and (max-width: 600px) {
    .pixelsCombination {
        height: 5rem;
    }

    .studylandscape-header-logistics > h1 {
        font-size: 1.5rem;
        margin-block: auto;
        margin-inline: 2rem;
    }

    .studylandcape-main-content-logistics > h2 {
        margin-block: 2rem;
        margin-inline: 2rem;
        font-size: 1rem;
    }

    .studylandcape-main-content-logistics > .imagePlaceholder {
        margin-left: 35%;
        justify-content: center;
    }

    .studylandcape-main-content-logistics > h3 {
        margin-top: 2rem;
        margin-bottom: 1rem;
        margin-inline: 2rem;
        font-size: 0.8rem;
    }

    .studylandcape-main-content-logistics > p {
        margin-inline: 2rem;
        margin-block: 1rem;
        font-size: 1rem;
    }
}

/* TABLET SIZE */
@media screen and (min-width: 600px) and (max-width : 990px) {
    .pixelsCombination {
        height: 10rem;
    }

    .studylandscape-header-logistics > h1 {
        font-size: 2.5rem;
        margin-block: auto;
        margin-inline: 3rem;
    }

    .studylandcape-main-content-logistics > h2 {
        margin-block: 4rem;
        margin-inline: 3rem;
        font-size: 1.5rem;
    }

    .studylandcape-main-content-logistics > .imagePlaceholder {
        margin-left: 35%;
        justify-content: center;
    }

    .studylandcape-main-content-logistics > h3 {
        margin-top: 5rem;
        margin-bottom: 1rem;
        margin-inline: 3rem;
    }

    .studylandcape-main-content-logistics > p {
        margin-inline: 3rem;
        margin-block: 1rem;
        font-size: 1.3rem;
    }
}

/* LAPTOP AND DESKTOP SIZE */
@media screen and (min-width: 990px) {
    .pixelsCombination {
        height: 19rem;
    }

    .studylandscape-header-logistics > h1 {
        font-size: 3rem;
        margin-block: auto;
        margin-inline: 5rem;
    }

    .studylandcape-main-content-logistics > h2 {
        margin-block: 4rem;
        margin-inline: 5rem;
        font-size: 2rem;
    }

    .studylandcape-main-content-logistics > .imagePlaceholder {
        margin-left: 35%;
        justify-content: center;
    }

    .studylandcape-main-content-logistics > h3 {
        margin-top: 5rem;
        margin-bottom: 1rem;
        margin-inline: 5rem;
    }

    .studylandcape-main-content-logistics > p {
        margin-inline: 5rem;
        margin-block: 1rem;
        font-size: 1.3rem;
    }
}

.studylandscapePage-container-logistics {
    padding: 0rem;
}

.studylandscape-header-logistics {
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 0;
}

.studylandcape-main-content-logistics > h2 {
    color: rgb(var(--nhl_stenden_corp_cyan));
}

.studylandcape-main-content-logistics > div {
    margin: 0 auto;
    width: fit-content;
}
