.letsgonav-container {
  min-width: 90%;
}

.letsgonav-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-sizing: border-box;
  transition: background-color 0.2s ease;
}

.letsgonav-block:hover {
  background-color: rgb(200, 200, 200);
}

.letsgonav-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.letsgonav-icon-wrapper {
  flex: 0 0 auto;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(var(--nhl_stenden_corp_cyan));
  border-radius: 50%;
}

.letsgonav-icon {
  width: 60%;
  height: 60%;
  display: block;
}

.letsgonav-text h3 {
  color: rgb(var(--color-text));
  margin: 0;
}

.letsgonav-text p {
  color: rgb(138, 138, 138);
  margin: 0.2rem 0 0;
}

@media screen and (max-width: 600px) {
  .letsgonav-container {
    max-width: 90%;
  }

  .letsgonav-block {
    border-radius: 1.5rem;
    padding: 1rem;
  }

  .letsgonav-info {
    gap: 1rem;
  }

  .letsgonav-icon-wrapper {
    width: 50px;
    height: 50px;
  }

  .letsgonav-text h3 {
    font-size: 1rem;
  }

  .letsgonav-text p {
    font-size: 0.8rem;
  }

  .letsgonav-arrow {
    max-width: 2rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 990px) {
  .letsgonav-container {
    max-width: 90%;
  }

  .letsgonav-block {
    border-radius: 2rem;
    padding: 1.5rem;
  }

  .letsgonav-icon-wrapper {
    width: 70px;
    height: 70px;
  }

  .letsgonav-text h3 {
    font-size: 1.4rem;
  }

  .letsgonav-text p {
    font-size: 1rem;
  }

  .letsgonav-arrow {
    min-width: 3rem;
  }
}

@media screen and (min-width: 990px) {
  .letsgonav-block {
    border-radius: 2rem;
    padding: 1.5rem;
  }

  .letsgonav-icon-wrapper {
    width: 70px;
    height: 70px;
  }

  .letsgonav-text h3 {
    font-size: 1.4rem;
  }

  .letsgonav-text p {
    font-size: 1rem;
  }

  .letsgonav-arrow {
    width: 3rem;
  }
}
