/* PHONE */
@media screen and (max-width: 600px) {
    .pixelsCombination {
        height: 5rem;
    }

    .stones-header > h1 {
        font-size: 2rem;
        margin-block: auto;
        margin-inline: 2rem;
    }

    .stones-content > h2 {
        margin-block: 2rem;
        margin-inline: 2rem;
        font-size: 1rem;
    }

    .stones-content > .imagePlaceholder {
        margin-left: 35%;
        justify-content: center;
    }

    .stones-content > h3 {
        margin-top: 2rem;
        margin-bottom: 1rem;
        margin-left: 0.5rem;
        margin-right: 2rem;
        font-size: 0.8rem;
        align-self: flex-start;
        width: 100%;
        box-sizing: border-box;
    }

    .stones-content > p {
        margin-left: 0.5rem;
        margin-right: 2rem;
        margin-block: 1rem;
        font-size: 1rem;
    }

}

/* TABLET */
@media screen and (min-width: 600px) and (max-width : 990px) {
    .pixelsCombination {
        height: 10rem;
    }

    .stones-header > h1 {
        font-size: 2.5rem;
        margin-block: auto;
        margin-inline: 3rem;
    }

    .stones-content > h2 {
        margin-block: 4rem;
        margin-inline: 3rem;
        font-size: 1.5rem;
    }

    .stones-content > .imagePlaceholder {
        margin-left: 35%;
        justify-content: center;
    }

    .stones-content > h3 {
        margin-top: 5rem;
        margin-bottom: 1rem;
        margin-inline: 3rem;
        align-self: flex-start;
        width: 100%;
        box-sizing: border-box;
    }

    .stones-content > p {
        margin-inline: 3rem;
        margin-block: 1rem;
        font-size: 1.3rem;
    }
}

/* PC */
@media screen and (min-width: 990px) {
    .pixelsCombination {
        height: 19rem;
    }

    .stones-header > h1 {
        font-size: 3rem;
        margin-block: auto;
        margin-inline: 5rem;
    }

    .stones-content > h2 {
        margin-block: 4rem;
        margin-inline: 5rem;
        font-size: 2rem;
    }

    .stones-content > .imagePlaceholder {
        margin-left: 35%;
        justify-content: center;
    }

    .imagePlaceholder{
        align-self: center;
    }

    .stones-content > h3 {
        margin-top: 5rem;
        margin-bottom: 1rem;
        margin-inline: 5rem;
        align-self: flex-start;
        width: 100%;
        box-sizing: border-box;
    }

    .stones-content > p {
        margin-inline: 5rem;
        margin-block: 1rem;
        font-size: 1.3rem;
    }
}

.stones-container {
    padding: 0rem;
}

.stones-header {
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 0;
}

.stones-main-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;   /* <-- makes h3 + p stick to the left */
  text-align: left;          /* <-- makes text left aligned */
  padding: 24px 60px;        /* <-- controls how close to the left it is */
  box-sizing: border-box;
}

.stones-main-content > h2 {
    color: rgb(var(--nhl_stenden_corp_cyan));
}

.stones-main-content h3,
.stones-main-content p{
  width: 100%;
  margin-left: 0;
}