.learnMorePage {
    background-color: rgb(--nhl_stenden_corp_blue);
}

.tagline {
    color: white;
}

.lets-go-to-links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: 100%;          /* let child use 100% */
    margin-top: 2rem;     /* optional */
}

.learn-more-container {
    background-color: #005AA7;
}

/* PHONE SIZE */
@media screen and (max-width: 600px) {
    .learnMoreHeader > h2 {
        margin-left: 1rem;
        font-size: 1.5rem
    }

    .whiteWaves {
        height: 140px;
        position: relative;
        bottom: 2rem;
    }
    
    .learnMoreHeader .tagline {
        margin-top: 80px;
    }
    
    .learn-more-container {
        min-height: 100vh;
    }

    .learnMoreHeader {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        gap: 5%;
    }
}

/* TABLET SIZE */
@media screen and (min-width: 600px) and (max-width : 990px) {
    .learnMoreHeader > h2 {
        margin-left: 2rem;
        font-size: 2rem
    }

    .whiteWaves {
        height: 250px;
        position: relative;
        bottom: 2rem;
    }

    .learnMoreHeader .tagline {
        margin-top: 80px;
    }
    
    .learn-more-container {
        min-height: 100vh;
    }

    .learnMoreHeader {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        gap: 30%;
    }
}

/* LAPTOP AND DESKTOP SIZE */
@media screen and (min-width: 990px) {
    .learnMoreHeader > h2 {
        margin-left: 2rem;
        font-size: 2.5rem;
    }

    .whiteWaves {
        height: 300px;
        position: relative;
        bottom: 2rem;
    }
    
    .learnMoreHeader .tagline {
        margin-top: 80px;
    }
    
    .learn-more-container {
        min-height: 100vh;
    }

    .learnMoreHeader {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        gap: 40%;
    }
}