.home {
    color: rgb(var(--nhl_stenden_corp_red));
}

.logos {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.logo {
    width: 200px;
    height: auto;
    margin: 20px 0;
    fill: red;
}