.home {
    display: flex;
    flex-direction: column;
}

.home > h1 {
    color: black;
}

.address {
    color: grey;
}

.postal-code {
    color: grey;
}

.description {
    color: black;
    margin-block: 2rem;
}

.link a {
    color: black;
}

.link a:hover {
    text-decoration: underline;
    font-size: 1.10em;
}

.campus-image {
    width: 100%;
    max-width: 50rem;
    margin-inline: auto;
    height: auto;
    box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.5);
}

.button-pulse:hover {
    background-color: rgb(var(--nhl_stenden_corp_blue));
    color: white;
}

.explanation-to-button {
    text-align: center;
    color: grey;
    margin-block: 1rem;
}

.carousel-section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.combination-for-home-page {
    background-color: rgb(var(--nhl_stenden_corp_cyan));
    color: white;
}

/* PHONE SIZE */
@media screen and (max-width: 600px) {
    
    .home > h1 {
        font-size: 1.8rem;
    }
    
    .address {
        font-size: 1rem;
    }

    .postal-code {
        font-size: 1rem;
    }

    .description {
        font-size: 1.1rem;
    }

    .play-arrow {
        width: 2.5rem;
        margin-right: 1rem;
        fill: rgb(var(--nhl_stenden_corp_blue));
    }

    .button-pulse:hover .play-arrow {
        fill: white; 
    }

    .button-pulse {
        display: flex;
        width: 14rem;
        height: 3rem;
        justify-content: center;
        align-items: center;
        margin-inline: auto;
        margin-top: 2rem;
        border-radius: 1rem;
        font-size: 1rem;
        border: 2px solid rgb(var(--nhl_stenden_corp_blue));
        font-family: 'CeraPro';
        transition: background-color 0.4s, color 0.4s;
        cursor: pointer;
        color: rgb(var(--nhl_stenden_corp_blue));
        text-decoration: none;          
        background-color: transparent;  
    }

    .explanation-to-button {
        font-size: 1rem;
    }

    .infoAboutHiddenPlaces {
        text-align: center;
    }

    .infoAboutHiddenPlaces > h2 {
        font-size: 1rem;
    }

    .infoAboutHiddenPlaces > p {  
        font-size: 0.9rem;
        margin: 0.5rem;
    }
}

/* TABLET SIZE */
@media screen and (min-width: 600px) and (max-width : 990px) {

    .home > h1 {
        font-size: 2.5rem;
    }
    
    .address {
        font-size: 1.3rem;
    }

    .postal-code {
        font-size: 1.3rem;
    }

    .description {
        font-size: 1.4rem;
    }

    .play-arrow {
        width: 2.5rem;
        margin-right: 1rem;
        fill: rgb(var(--nhl_stenden_corp_blue));
    }

    .button-pulse:hover .play-arrow {
        fill: white; 
    }

    .button-pulse {
        display: flex;
        width: 18rem;
        height: 4rem;
        justify-content: center;
        align-items: center;
        margin-inline: auto;
        margin-top: 2rem;
        border-radius: 1rem;
        font-size: 1.5rem;
        border: 3px solid rgb(var(--nhl_stenden_corp_blue));
        font-family: 'CeraPro';
        transition: background-color 0.4s, color 0.4s;
        cursor: pointer;
        color: rgb(var(--nhl_stenden_corp_blue));
        text-decoration: none;          
        background-color: transparent;  
    }

    .explanation-to-button {
        font-size: 1.3rem;
    }

    .infoAboutHiddenPlaces {
        text-align: center;
        margin: 0.5rem;
    }

    .infoAboutHiddenPlaces > h2 {
        font-size: 1.3rem;
    }

    .infoAboutHiddenPlaces > p {  
        font-size: 1rem;
        margin: 0.5rem;
    }
}

/* LAPTOP AND DESKTOP SIZE */
@media screen and (min-width: 990px) {

    .home > h1 {
        font-size: 2rem;
    }
    
    .address {
        font-size: 1rem;
    }

    .postal-code {
        font-size: 1rem;
    }

    .description {
        font-size: 1.2rem;
    }

    .button-pulse {
        display: flex;
        width: 18rem;
        height: 4rem;
        justify-content: center;
        align-items: center;
        margin-inline: auto;
        margin-top: 2rem;
        border-radius: 1.5rem;
        font-size: 1.5rem;
        border: 3px solid rgb(var(--nhl_stenden_corp_blue));
        font-family: 'CeraPro';
        transition: background-color 0.4s, color 0.4s;
        cursor: pointer;
        color: rgb(var(--nhl_stenden_corp_blue));
        text-decoration: none;          
        background-color: transparent; 
    }

    .explanation-to-button {
        font-size: 1.2rem;
    }

    .description-for-combination-home-page > h2 {
        text-align: left;
        margin-top: 5rem;
    }

    .combination-for-home-page > p {  
        font-size: 1.2rem;
    }

    .blackPixel {
        grid-column: 2;
    }

    .info {
        margin-top: 0.5rem;
        margin-bottom: 5rem;
    }

    .play-arrow {
        width: 2.5rem;
        margin-right: 1rem;
        fill: rgb(var(--nhl_stenden_corp_blue));
    }

    .button-pulse:hover .play-arrow {
        fill: white; 
    }

    .combination-for-home-page {
        display: flex;
        margin-block: 5rem;
        padding-inline: 0rem;
    }

    .description-for-combination-home-page {
        display: flex;
        flex-direction: column;
    }

    .pixels-home-page {
        width: 20rem;
    }
    
    .combination-for-home-page {
        width: 100vw;
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
    }
}