.equipmentPage-container {
    padding: 0rem;
}

.equipment-header {
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 0;
}

.pixelsCombination {
    width: 25%;
}

.equipment-header > h1 {
    font-size: 3rem;
    margin-block: 6rem;
    margin-inline: 3rem;
}

.techAndDesign {
    width: 30%;
}

.equipment-main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.equipment-main-content > h2 {
    margin-right: 51rem;
    margin-block: 4rem;
    color: rgb(var(--nhl_stenden_corp_cyan));
}

.equipment-main-content > h3 {
    margin-right: 54.4rem;
    margin-top: 5rem;
}

.equipment-main-content > p {
    margin-right: 2rem;
    margin-block: 1rem;
}

.equipment-description {
    margin-right: 24.4rem;
    margin-block: 0.5rem;
}

.equipment-details {
    margin-left: 2.8rem;
    margin-block: 1rem;
}

@media screen and (max-width: 768px) {
    .equipment-main-content {
        padding: 2rem;
    }

    .equipment-header > h1 {
        font-size: 2rem;
        margin-inline: 1rem;
    }

    .equipment-main-content > h2 {
        margin-right: 2rem;
        margin-block: 2rem;
    }

    .equipment-main-content > h3 {
        margin-right: 2rem;
        margin-top: 2rem;
    }

    .equipment-main-content > p {
        margin-right: 1rem;
    }

    .equipment-main-content > ol {
        width: 90%;
    }
}
