nav {
    display: inline-flex;
    width: 100%;
    background-color: rgb(var(--nhl_stenden_corp_blue));
    justify-content: space-between;
    font-family: 'CeraPro';
    user-select: none;
    padding: 1rem 3rem;
}

.logo img {
    height: 8vh;
}

/* PHONE SCREEN */
@media screen and (max-width: 600px) {

    .nav-links {
        display: none;
    }
}

/* TABLET SCREEN */
@media screen and (min-width: 600px) and (max-width : 990px) {

    .nav-links {
        display: none;
    }

    .hamburger {
        stroke: white;
        height: 4rem;
        width: auto;
    }
}

/* LAPTOP AND DESKTOP SCREEN */
@media screen and (min-width: 990px) {

    .hamburger {
        display: none;
    }

    .nav-links {
        display: flex;
        gap: 2rem;
        align-items: flex-end;
    }
    
    .nav-link {
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        padding: .25rem .5rem;
        border-radius: 0.5rem;
        transition:  all 0.2s ease-in-out;
    }
    .nav-link:hover {
        text-decoration: underline;
        transform: translateY(-0.1rem);
    }
    
    .nav-link.active {
        text-decoration: underline;
    }
}

