nav {
    display: inline-flex;
    width: 100%;
    background-color: rgb(var(--nhl_stenden_corp_blue));
    justify-content: space-between;
    font-family: 'CeraPro';
    user-select: none;
    padding: 1rem 3rem;
}

.logo img {
    height: 8vh;
}

.nav-links {
    display: flex;
    gap: 2rem;
    align-items: flex-end;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    padding: .25rem .5rem;
    border-radius: 0.5rem;
    transition:  all 0.2s ease-in-out;
}
.nav-link:hover {
    text-decoration: underline;
    transform: translateY(-0.1rem);
}

.nav-link.active {
    text-decoration: underline;
}