.burger-btn {
    background-color: transparent;
    border: 0;
}

.burger-bar {
    stroke: white;
    width: auto;
}

.close-x {
    fill: white;
    width: auto;
}

/* PHONE SCREEN */
@media screen and (max-width: 600px) {
    .burger-bar {
        height: 3rem;
    }

    .close-x {
        height: 3rem;
    }
}

/* TABLET, LAPTOP AND DESKTOP SCREEN */
@media screen and (min-width: 601px) {
    .burger-bar {
        height: 4rem;
    }

    .close-x {
        height: 4rem;
    }
}