h1 {
    color: black
}

h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: rgb(var(--nhl_stenden_corp_cyan));
    text-transform: uppercase;
}

.filter-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.card-section > h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: rgb(var(--nhl_stenden_corp_cyan));
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 4vh;
}