.studylandscapePage-container-pabo {
    padding: 0rem;
}

.studylandscape-header-pabo {
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 0;
}

.pixelsCombination {
    width: 25%;
}

.studylandscape-header-pabo > h1 {
    font-size: 3rem;
    margin-block: auto;
    margin-inline: 3rem;
}

.techAndDesign {
    width: 30%;
}

.studylandcape-main-pabo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.studylandcape-main-pabo > h2 {
    margin-right: 53.5rem;
    margin-block: 4rem;
    color: rgb(var(--nhl_stenden_corp_cyan));
}

.studylandcape-main-pabo > h3 {
    margin-right: 59.3rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.text {
    margin-inline: 3.2rem;
    margin-block: 1rem;
}

.fact{
    margin-right: 7.9rem;
    margin-block: 1rem;
}