/* PHONE SIZE */
@media screen and (max-width: 600px) {
    .pixelsCombination {
        height: 5rem;
    }

    .studylandscape-header-it > h1 {
        font-size: 1.5rem;
        margin-block: auto;
        margin-inline: 2rem;
    }

    .studylandcape-main-content-it > h2 {
        margin-block: 2rem;
        margin-inline: 2rem;
        font-size: 1rem;
    }

    .studylandcape-main-content-it > .imagePlaceholder {
        margin-left: 35%;
        justify-content: center;
    }

    .studylandcape-main-content-it > h3 {
        margin-top: 2rem;
        margin-bottom: 1rem;
        margin-inline: 2rem;
        font-size: 0.8rem;
    }

    .studylandcape-main-content-it > p {
        margin-inline: 2rem;
        margin-block: 1rem;
        font-size: 1rem;
    }
}

/* TABLET SIZE */
@media screen and (min-width: 600px) and (max-width : 990px) {
    .pixelsCombination {
        height: 10rem;
    }

    .studylandscape-header-it > h1 {
        font-size: 2.5rem;
        margin-block: auto;
        margin-inline: 3rem;
    }

    .studylandcape-main-content-it > h2 {
        margin-block: 4rem;
        margin-inline: 3rem;
        font-size: 1.5rem;
    }

    .studylandcape-main-content-it > .imagePlaceholder {
        margin-left: 35%;
        justify-content: center;
    }

    .studylandcape-main-content-it > h3 {
        margin-top: 5rem;
        margin-bottom: 1rem;
        margin-inline: 3rem;
    }

    .studylandcape-main-content-it > p {
        margin-inline: 3rem;
        margin-block: 1rem;
        font-size: 1.3rem;
    }
}

/* LAPTOP AND DESKTOP SIZE */
@media screen and (min-width: 990px) {
    .pixelsCombination {
        height: 19rem;
    }

    .studylandscape-header-it > h1 {
        font-size: 3rem;
        margin-block: auto;
        margin-inline: 5rem;
    }

    .studylandcape-main-content-it > h2 {
        margin-block: 4rem;
        margin-inline: 5rem;
        font-size: 2rem;
    }

    .studylandcape-main-content-it > .imagePlaceholder {
        margin-left: 35%;
        justify-content: center;
    }

    .studylandcape-main-content-it > h3 {
        margin-top: 5rem;
        margin-bottom: 1rem;
        margin-inline: 5rem;
    }

    .studylandcape-main-content-it > p {
        margin-inline: 5rem;
        margin-block: 1rem;
        font-size: 1.3rem;
    }
}

.studylandscapePage-container-it {
    padding: 0rem;
}

.imagePlaceholder {
    width: 30%;
}

.studylandscape-header-it {
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.studylandcape-main-content-it > h2 {
    color: rgb(var(--nhl_stenden_corp_cyan));
}

.buttonToNextPage {
    display: flex;
    justify-content: center;
}

.moveNext {
    background-color: rgb(var(--nhl_stenden_corp_blue));
    color: white;
    margin: 2rem;
    width: 7rem;
    height: 3rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: none;
    font-family: 'CeraPro';
}

.moveNext:hover {
    background-color: white;
    border: 3px solid rgb(var(--nhl_stenden_corp_blue));
    color: rgb(var(--nhl_stenden_corp_blue));
    cursor: pointer;
}